<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Habit App</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Habit App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/addhabit">Add Habit</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li> 
          </ul>
        </div>
      </div>
    </nav>

  <div class="container">
    <p>Welcome, <%= user.username %> (<%= user.role %>)</p>
    <br>
    <div class="text-center"><h2>Products from Habit App Database</h2></div>
    <br>
    <table class="table table-hover small text-center">
      <thead>
          <tr>
            <th width="100">Habit Name</th>
            <th width="100">Habit Type</th>
            <th width="100">Habit Image</th>
            <th width="100">Date</th>
            <th width="150">Description</th>
            <th width="100">Feelings</th>
            <th width="50">Edit</th>
            <th width="50">Delete</th>
          </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < habits.length; i++) { %>
          <tr>
            <td><a href="/habit/<%= habits[i].habitId %>"><%= habits[i].habitName %></a></td>
            <td><%= habits[i].type %></td>
            <td><img src="images/<%= habits[i].image %>" width="20%"></td>
            <td><%= habits[i].date %></td>
            <td><%= habits[i].description %></td>
            <td><%= habits[i].feelings %></td>
            <td><a href="/updateHabit/<%= habits[i].habitId %>">Edit</a></td>
            <td><a href="/deleteHabit/<%= habits[i].habitId %>" onclick="return confirm('Are you sure you want to delete this habit?')">Delete</a></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>
